@model MovieStoreBE.Movie

@{
    ViewBag.Title = "Completion";
}

<style>
    .poster {
        height: 5em;
    }
</style>

<br />

<div>
    <h4>Congratulations on your new purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <a href="@Model.ImageURL" target="_blank"><img class="poster" src="@Model.ImageURL" /></a>
        </dd>     

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            <select>
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre.Name">@genre.Name</option>
                }
            </select>

        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Return to Home", "Index")
</p>

