@model MovieStoreBE.Movie

@{
    ViewBag.Title = "Details";
}

<style>
    .poster {
        height: 5em;
    }
</style>

<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <a href="@Model.ImageURL" target="_blank"><img class="poster" src="@Model.ImageURL" /></a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerURL)
        </dt>

        <dd>
            <a href="@Model.TrailerURL" target="_blank">Click for trailer</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            <select>
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre.Name">@genre.Name</option>
                }
            </select>

        </dd>

        <dt>
            Buy
        </dt>
        <dd>
            <a href="~/Movie/Checkout/@Model.Id"><button> Checkout </button></a>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>