@model MovieStoreAdminUI.Models.MovieViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    .poster {
        height: 5em;
    }
</style>

<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form action="~/Movie/index" method="POST">
    <select name="genre" onchange="this.form.submit()">
        <option value="">All</option>
        @*@foreach (var genre in Model.Genres)
        {
            if (Model.SelectedGenre == genre.Name)
            {
                <option selected="selected" value=@genre.Name>@genre.Name</option>
            }
            else
            {
                <option value=@genre.Name>@genre.Name</option>
            }
        }*@
    </select>
</form>
<table class="table">
    <tr>
        <th>
            Movie Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().TrailerURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Genres)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Movies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(whatever => item.Year)
            </td>
            <td>
                <a href="@item.ImageURL" target="_blank"><img class="poster" src="@item.ImageURL" /></a>
            </td>
            <td>
                <a href="@item.TrailerURL" target="_blank">Click for trailer</a>
            </td>
            <td>
                <select>
                    @foreach (var genre in item.Genres)
                    {
                        <option value="@genre.Name">@genre.Name</option>
                    }
                </select>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
